%h1
  %a{:href => "/"} Padrino
#user-navigation
  %ul.wat-cf
    %li
      %a{:href => "#{ENV['GITHUB']}/padrinorb"} Github
#main-navigation
  %ul.wat-cf
    %li.first
      %a{:href => "http://www.padrinorb.com"} Main Page
    %li
      %a{:href => "http://groups.google.com/group/padrino"} Google Group
    %li
      %a{:href => "mailto:padrinorb@gmail.com", } Email
    %li
      %a{:href => "http://github.com/padrino"} Message
    %li
      %a{:href => "http://github.com/padrino/following"} Team